<html>
<head>
  <link rel="stylesheet" type="text/css" href="/estatico/css/bootstrap.css" />
</head>
<body>
<h1>Lista de Médicos</h1>
<table class="table" id="medico">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Especialidade</th>

    </tr>
  </thead>
  <tbody>
    <for (medico in data.medicos)>
      <tr id="medico_${medico.id}">
        <th scope="row">${medico.nome}</th>
        <td>${medico.especialidade}</td>
        <td><a href="/medicos/form/${medico.id}">Editar</a></td>
        <td><a href="#" data-ref="${medico.id}" data-type="remocao">Excluir</a></td>
      </tr>
    </for>
  </tbody>
</table>
<script src="/estatico/js/remove-medico.js">
</script>
</body>
</html>
