<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Especialidade</th>

    </tr>
  </thead>
  <tbody>
    <for (medico in data.medicos)>
      <tr>
        <th scope="row">${medico.nome}</th>
        <td>${medico.especialidade}</td>
      </tr>
    </for>
  </tbody>
</table>
